
body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.831);
    backdrop-filter: blur(30px);
}
.container{
    margin: 67px;
    height: 753px; 
    width: 1283px;
    background-color: black;
    padding: 20px;
    border: 3px solid red;
    border-radius: 5px;
}
.header-line{
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

button{
    font-size: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    color: white;
    font-weight: 700;
}
iframe{
    height: 650px;
    width: 1275px;
    border: 3px solid red;
}
.header-line a{
    text-decoration: none;
    color: white;
}
.header-line a:hover{
    text-decoration: underline;
}
button:hover{
    border: 2px solid white;
    cursor: pointer;
}

